<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewpoint" content = "width=device-width, initial-scale=1.0">"
    <title>Aniskaa Vijayashankar | Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "gateway-wrapper">
        <header class = "glass-card gateway-card">
            <div class = "profile-glow-cirle">
                <span>📸 PHOTO</span>
            </div>

            <h1>Aniskaa Vijayashankar</h1>
            <p class = "subtitle">High School Diploma | Graduated: May 2026</p>
            <p class = gateway-bia>Welcome to my Space. I am a incoming college freshman who
                loves learning, creating and sharing ideas. This website is
                a space where I showcase projects and experiences. </p>

            <div class = "gateway-buttons">
                <a href = "/experience" class = "portal-btn">My Experiences</a>
                <a href = "/awards" class = "portal-btn">Awards and Works</a>
                <a href = "/skills" class = "portal-btn" >Technical toolkit</a>
            </div>
        </header>
    </div>
</body>
</html>